<!DOCTYPE html>

<!-- define angular app -->
<html ng-app="app">

<head>
  <!-- SCROLLS -->
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" />

  <!-- SPELLS -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
   
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.js"></script>
  <script src="app.js"></script>
</head>

<!-- define angular controller -->
<body ng-controller="mainController">

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><i class="fa fa-share" aria-hidden="true"></i> Form inputs directives demoddd </a>
      </div> 
    </div>
  </nav>

  <div class="container">
    <div class="row">

      <form>
        <!--TEXT-->
        <div class="form-group">
            <ng-input 
            label="Text label" 
            ng-model="textinput" 
            type="text" 
            name="name"
            placeholder="Your name" 
            required> </ng-input> 
        </div>

        <!--NUMBER-->
        <div class="form-group">
            <ng-input 
            label="Number label" 
            ng-model="numberinput" 
            type="number" 
            name="age"
            placeholder="Your age"
            min="0"
            max="10"
            step="1"
            custombuttons
            required> </ng-input> 
        </div>  
        
        <!--TEXTAREA-->
        <div class="form-group">
            <ng-textarea
            label="Text label" 
            ng-model="textarea" 
            type="text" 
            name="name"
            placeholder="Your name" 
            required> </ng-textarea> 
        </div>
        <small>Text input: {{textinput}}, Number input: {{numberinput}}, Textarea: {{textarea}}</small>
      </form>

    </div>
  </div>
 
 

  
  
  <footer class="text-center footer">
    <p>Code sample created by <a href="http://codenest.pl">Codenest.pl</a></p>   
  </footer>
  
</body>

</html>